body {
    background-image: url(../images/orangebackground.jpg);
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 0px;
    margin-left: 0px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

#title {
    font-size: 50px;
    font-family: "Times New Roman", Times, serif;
    font-weight: bolder;
    width: 100%;
    height: 10%;
    margin: 15px;
    text-align: center;
    color: blue;
}

#startOver {
    margin-top: 20px;
    height: 50px;
    width: 200px;
    font-size: 15px;
    font-weight: bold;
    color: blue;
    border: 3px solid blue;
    margin-right: auto;
    margin-left: auto;
    display: table;
    animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

#instructions {
    background: white;
    margin-top: 25px;
    margin-bottom: 25px;
    height: 135px;
    max-width: 960px;
    font-size: 15px;
    font-family: "Times New Roman", Times, serif;
    text-align: left;
    border: 1px solid blue;
    margin-right: auto;
    margin-left: auto;
    display: table;
    vertical-align: text-top;
}

.randomHead {
    font-size: 20px;
    font-family: "Times New Roman", Times, serif;
    width: 200px;
    height: 100px;
    text-align: center;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-right: 10px;
    margin-left: 400px;
    display: table;
    border: 1px solid blue;
    float: left;
}

.totalHead {
    font-size: 20px;
    font-family: "Times New Roman", Times, serif;
    width: 200px;
    height: 100px;
    text-align: center;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: 50px;
    display: table;
    border: 1px solid blue;
    float: left;
}

.winsHead {
    clear: left;
    font-size: 20px;
    font-family: "Times New Roman", Times, serif;
    width: 200px;
    height: 100px;
    text-align: center;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-right: 10px;
    margin-left: 400px;
    display: table;
    border: 1px solid blue;
    float: left;
}

.lossHead {
    font-size: 20px;
    font-family: "Times New Roman", Times, serif;
    width: 200px;
    height: 100px;
    text-align: center;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: 50px;
    display: table;
    border: 1px solid blue;
    float: left;
}


h2 {
    background: blue;
    color: white;
    margin: 0;
    padding-left: 5px;
}

.parent {
    margin: auto;
    display: table;
}

.crystals {
    margin-right: auto;
    margin-left: auto;
    display: inline-block;   
}

#totalScore,
#randomNum,
#wins,
#loss {
    font-size: 40px;
    padding: 10px;
    color: blue;
    font-weight: bold;

}

h4 {
    vertical-align: text-top;
    margin-top: 0;
    margin-bottom: 0;
    background: blue;
    color: white;
}

/* Small Screens*/
@media screen and (max-width: 640px) {
    body, #title, .parent
    {
        width: 100%;
    }
}


/* Large Screens*/
@media screen and (max-width: 980px) {
    h4, body, #title
    {
        width: 100%;
    }
}